* {
  margin: 0;
  font-family: "Poiret One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Poiret One", cursive;
  font-size: 16px;
}

body {
  font-family: "Poiret One", cursive;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a,
button {
  cursor: pointer;
}

ol,
ul {
  padding-left: 0;
  list-style: none;
}

* {
  font-family: "Roboto", sans-serif;
}

.navbar-menu {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
}

.navbar-menu .burger-menu {
  width: 40px;
  height: 20px;
  margin-left: 20px;
  position: relative;
  z-index: 10;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.navbar-menu .burger-menu.visible {
  margin-left: 20%;
}

.navbar-menu .burger-menu .bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #c6c1bf;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-menu .menubox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: -25%;
  width: 25%;
  height: 100%;
  background-color: #ede6de;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-menu .menubox.visible {
  left: 0;
  border: 1px solid #ddd;
}

.navbar-menu .menubox .item {
  width: 100%;
  padding: 0 30px;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.navbar-menu .menubox .item a {
  text-decoration: none;
  color: #5d5c58;
  font-size: 2rem;
  font-style: italic;
  font-weight: 500;
  padding-left: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar-menu .menubox .item a:hover {
  color: #fff;
}

.navbar-menu .menubox .item a li {
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.bar:nth-child(1) {
  top: 0;
}

.bar:nth-child(2) {
  top: calc(50% - 1px);
}

.bar:nth-child(3) {
  bottom: 0;
}

.burger-menu.visible .bar {
  background-color: #fff;
}

.burger-menu.visible .bar:nth-child(1) {
  top: calc(50% - 1px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-menu.visible .bar:nth-child(2) {
  top: calc(50% - 1px);
  opacity: 0;
}

.burger-menu.visible .bar:nth-child(3) {
  bottom: calc(50% - 1px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main {
  width: 100%;
  height: 100%;
  display: block;
  background: #ede6de;
}

.main .content-wrap {
  width: 1000px;
  height: 700px;
  margin: 0 auto;
  border: 4px solid #515c4e;
  border-radius: 20px;
  overflow: hidden;
  background: #ede6de;
}

.main .content-wrap .content-left {
  background: #ede6de;
  color: #515c4e;
  width: 50%;
  padding: 30px;
  margin: 0 auto;
}

.main .content-wrap .content-right {
  height: 100%;
  width: 50%;
  background: #515c4e;
  margin: 0 auto;
  padding: 50px 30px 30px;
}

.main-wrap {
  text-align: center;
  padding: 60px 0 0 0;
}

.main-wrap .main-day {
  font-family: "Poiret One", cursive;
  font-size: 30px;
  font-weight: bold;
}

.main-wrap .main-date {
  font-family: "Poiret One", cursive;
  font-size: 120px;
  font-weight: bold;
  margin: 20px 0;
}

.todo-wrap .todo-title {
  font-size: 20px;
  font-weight: 100;
  margin: 0 0 10px 0;
  font-family: "Poiret One", cursive;
}

.todo-wrap .input-form .input-box {
  width: calc(100% - 75px);
  margin-right: 20px;
  height: auto;
  background: rgba(235, 236, 220, 0.19);
  color: #515c4e;
  line-height: normal;
  padding: .8em .5em 0 0;
  border: 0;
  border-bottom: 1px dashed #5d5c58;
  border-radius: 0;
  padding: 7px;
}

.todo-wrap .input-form .input-box::-webkit-input-placeholder {
  font-family: "Poiret One", cursive;
  font-size: 1.2em;
}

.todo-wrap .input-form .input-box:-ms-input-placeholder {
  font-family: "Poiret One", cursive;
  font-size: 1.2em;
}

.todo-wrap .input-form .input-box::-ms-input-placeholder {
  font-family: "Poiret One", cursive;
  font-size: 1.2em;
}

.todo-wrap .input-form .input-box::placeholder {
  font-family: "Poiret One", cursive;
  font-size: 1.2em;
}

.todo-wrap .input-form .input-data {
  cursor: pointer;
  font-size: 10px;
  padding: 10px;
  margin: 10px 0 10px 0;
  background: #515c4e;
  border: none;
  color: #ddaf35;
  border-radius: 10px;
}

.todo-wrap .input-form .input-data:hover {
  background: #ffffff;
  color: #0b0809;
}

.todo-wrap .input-list {
  list-style: none;
  margin-top: 15px;
  padding-left: 15px;
  width: 90%;
  height: 200px;
  overflow: auto;
}

.todo-wrap .input-list li {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-wrap .input-list li span {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  font-size: 0.9rem;
  width: 500px;
  margin: 0 10px 0 -10px;
  color: #ddaf35;
  font-weight: 700;
}

.todo-wrap .input-list li .checked {
  color: #FFFFFF;
  text-decoration: line-through;
}

.todo-wrap .input-list li .del-data {
  text-align: center;
  color: #5d5c58;
  cursor: pointer;
  font-size: 13px;
  padding: 10px;
}

.todo-wrap .input-list .btn-amend-data {
  text-align: center;
  color: #5d5c58;
  cursor: pointer;
  font-size: 13px;
  padding: 10px;
}

.content-right #btn-today {
  border-radius: 15px;
  padding: 10px;
  background: white;
  color: #5d5c58;
  margin-left: 82%;
  margin-bottom: 10px;
}

.content-right #calendar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #515c4e;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  margin-top: 10px;
}

.content-right #calendar thead tr:last-child td {
  background-color: #515c4e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-right #calendar tbody {
  background-color: #515c4e;
}

.content-right #calendar .sun {
  color: #f7c5c5;
}

.content-right #calendar .sat {
  color: #c4c0e4;
}

.content-right #calendar tr td {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Poiret One", cursive;
}

.content-right #calendar .active {
  background: white;
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
  color: #515c4e;
}

.content-right #current-year-month {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal .modal__content {
  background-color: white;
  padding: 50px 50px;
  text-align: center;
  position: relative;
  border-radius: 10px;
  top: 0;
  width: 350px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.modal .modal__content #amend-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modal__content #amend-form .amend-box {
  width: 250px;
  height: 20px;
  margin: 5px;
  border: 1px solid #5d5c58;
}

.modal .modal__content #amend-form .amend-data {
  cursor: pointer;
  width: 70px;
  font-size: 10px;
  padding: 10px 15px;
  margin: 0 0 0 5px;
  background: #ddaf35;
  border: none;
  color: #0b0809;
  border-radius: 10px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1100px) {
  .main .content-wrap {
    width: 900px;
    height: 700px;
  }
}

@media screen and (max-width: 1000px) {
  .main .content-wrap {
    width: 800px;
    height: 700px;
  }
}

@media screen and (max-width: 900px) {
  .main .content-wrap {
    width: 700px;
    height: 700px;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-menu .burger-menu.visible {
    margin-left: 20%;
  }
  .navbar-menu .menubox {
    width: 30%;
    left: -30%;
  }
}

@media screen and (max-width: 890px) {
  .main .content-wrap {
    width: 88%;
    height: 88%;
  }
}

@media (min-width: 790px) {
  .main {
    background: #ede6de;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  .content-wrap {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 4px solid rgba(161, 161, 161, 0.5);
    border-radius: 20px;
    overflow: hidden;
    background: #ddaf35;
  }
  .content-right {
    width: 100%;
  }
  .content-left {
    width: 100%;
    color: #ddaf35;
    float: left;
    width: 360px;
    height: 600px;
    padding: 100px 20px 20px 0;
  }
  .main-wrap {
    text-align: center;
    margin: 20px 0 0 0;
  }
  .main-day {
    font-size: 30px;
    font-weight: bold;
  }
  .main-date {
    font-size: 120px;
    font-weight: bold;
    margin: 20px 0;
  }
  .todo-title {
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 10px 0;
  }
  .input-box {
    width: calc(100% - 75px);
    height: auto;
    background: #0b0809;
    color: #ddaf35;
    line-height: normal;
    padding: .8em .5em 0 0;
    font-family: inherit;
    border: 0;
    border-bottom: 1px dashed #ddaf35;
    border-radius: 0;
    outline-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .input-data {
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    margin: 20px 0 15px 0;
    background: #5d5c58;
    border: none;
    color: #0b0809;
    border-radius: 10px;
  }
  .input-data:hover {
    background: #ffffff;
    color: #0b0809;
  }
  .input-list > span {
    font-size: 10px;
    width: 60%;
    float: left;
    color: #ddaf35;
  }
  .del-data {
    color: #5d5c58;
    cursor: pointer;
    font-size: 13px;
    padding: 10px;
  }
  .content-right {
    float: left;
    width: 100%;
    height: 100%;
  }
  .sun {
    color: #ef3333;
  }
  .sat {
    color: #2107e0;
  }
  .content-right table tr td {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (max-width: 790px) {
  .navbar-menu .menubox {
    left: 0;
    width: 100%;
    height: 0;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .navbar-menu .menubox .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
    padding: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .navbar-menu .menubox .item a {
    width: 100%;
    padding: 10px;
  }
  .navbar-menu .menubox .item a li {
    padding: 0;
    font-size: 24px;
  }
  .navbar-menu .menubox.visible {
    height: 100%;
  }
  .navbar-menu .menubox.visible .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-menu .burger-menu.visible {
    margin-left: 20px;
  }
  .navbar-menu .burger-menu .bar {
    width: 80%;
  }
  .main {
    padding: 100px 0;
  }
  .main .content-wrap {
    margin: 0 auto;
    background: #ede6de;
  }
  .content-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main .content-wrap .content-left {
    width: 100%;
  }
  .main .content-wrap .content-right {
    width: 100%;
  }
  .todo-wrap .input-list {
    height: 120px;
  }
}
/*# sourceMappingURL=calendar.css.map */